/*! n’ize.css v0.3.0 | MIT License | github.com/smnscp/n-ize.css */

/* Document
 * ========================================================================== */

/**
 * 1. Set Box sizing default to border-box (https://css-tricks.com/box-sizing/)
 * 2. Provide a slot for setting the root line height.
 */

:root {
  box-sizing: border-box; /* 1 */
  line-height: var(--line-root); /* 2 */
}

/* everything inherits border-box unless specified */
*,
::before,
::after {
  box-sizing: inherit;
}

/**
 * 1. Remove the margin in all browsers.
 * 2. Generic typography.
 */

body {
  margin: 0;
  font-family: var(--font-body);
  font-weight: var(--weight-body);
  font-size: var(--scale-0);
  line-height: var(--line-0);
}

/* Sections
 * ========================================================================== */

/**
 * Generic typography for headings.
 * Include selectors for `h1` as subheading:
 *   https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements#multiple_h1_elements_on_one_page
 * Use common block margin to help establishing a baseline grid.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titling);
  font-weight: var(--weight-titling);
  margin-block: var(--spacing-block-titling);
}
h1 {
  font-size: var(--scale-3);
  line-height: var(--line-3);
}
h2,
:is(article, aside, nav, section) h1 {
  font-size: var(--scale-2);
  line-height: var(--line-2);
}
h3,
:is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
  font-size: var(--scale-1);
  line-height: var(--line-1);
}
h4,
:is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  h1 {
  font-size: var(--scale-0);
  line-height: var(--line-0);
}
h5,
:is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  h1 {
  font-size: var(--scale--1);
  line-height: var(--line--1);
}
h6,
:is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  h1 {
  font-size: var(--scale--2);
  line-height: var(--line--2);
}

/* Grouping content
 * ========================================================================== */

/**
 * Use common block margin to help establishing a baseline grid.
 */

:is(p, blockquote, figure, pre, menu, dir),
:not(dd, li) :is(dl, ol, ul) {
  margin-block: var(--spacing-block);
}

/**
 * Replace 40px indent.
 */

ol,
ul,
menu,
dir {
  padding-inline-start: var(--spacing-inline);
}

dd {
  margin-inline-start: var(--spacing-inline);
}

blockquote,
figure {
  margin-inline: var(--spacing-inline);
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Generic typography for monospaced elements.
 */

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: var(--scale-smaller);
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: var(--scale-smaller);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
