/*! n’ize.css v0.4.0 | MIT License | github.com/smnscp/n-ize.css */

/**
 * ## Document
 */

/**
 * Provide a slot for setting the root line height.
 */

:root {
  line-height: var(--line-root);
}

/**
 * Set Box sizing default to border-box.
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Remove the margin in all browsers.
 * 2. Generic typography.
 */

body {
  margin: 0;
  font-family: var(--font-body);
  font-weight: var(--weight-body);
  font-size: var(--scale-0);
  line-height: var(--line-0);
}

/**
 * ## Sectioning
 */

/**
 * Generic typography for headings.
 * Use common block margin to help establishing a baseline grid.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--weight-heading);
  margin-block: var(--spacing-block-heading);
}
h1 {
  font-size: var(--scale-3);
  line-height: var(--line-3);
}
h2 {
  font-size: var(--scale-2);
  line-height: var(--line-2);
}
h3 {
  font-size: var(--scale-1);
  line-height: var(--line-1);
}
h4 {
  font-size: var(--scale-0);
  line-height: var(--line-0);
}
h5 {
  font-size: var(--scale--1);
  line-height: var(--line--1);
}
h6 {
  font-size: var(--scale--2);
  line-height: var(--line--2);
}

/**
 * ## Block-level text content
 */

/**
 * Use common block margin to help establishing a baseline grid.
 */

:is(p, blockquote, figure, pre, menu, dir),
:not(dd, li) :is(dl, ol, ul) {
  margin-block: var(--spacing-block);
}

/**
 * Replace 40px indent.
 */

ol,
ul,
menu,
dir {
  padding-inline-start: var(--spacing-inline);
}

dd {
  margin-inline-start: var(--spacing-inline);
}

blockquote,
figure {
  margin-inline: var(--spacing-inline);
}

/**
 * Make `hr` line-height neutral, i. e. 0px high.
 */

hr {
  --stroke: var(--stroke-hr, 0.125rem);
  border: solid calc(0.5 * var(--stroke));
  margin-block: calc(-0.5 * var(--stroke));
}

/**
 * ## Inline text semantics
 */

/**
 * Generic typography for monospaced elements.
 */

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

/**
 * Set scale-based font size.
 */

small,
sub,
sup {
  font-size: var(--scale-smaller);
}

/**
 * Prevent certain inline (pseudo) elements from affecting the line height.
 */

code,
kbd,
samp,
sub,
sup,
small,
::marker {
  line-height: 0;
}
